* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 40px 0px;
    font-family: 'Fredoka', sans-serif;
}

.center-content{
    width: 75%;
    margin: auto;
    min-width: 1200px;
}

header{
    text-align: center;
    margin-bottom: 48rem;
}

h1{
    color: rgb(229, 49, 112);
    font-size: 48px;
    margin-bottom: 16px;
}

h2{
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
}